<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      <a href="livlive.co">LivLive</a>
      is an event platform to help content providers engage readers. 
		It is a simple tool for websites to manage, track and display 		
		local events. This is the sample application.
    </p>